@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color:#333;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  html{
      height: 100%;
      background-color: #F2F2F2;
  }
  .button{
      color: #fff;
      background-color: #756257;
      font-family: inherit;
      border:none;
      text-decoration: none;
      cursor: pointer;
      font-family: "PT Sans", sans-serif;
  }
  .main-container{
      flex-grow: 1;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .page-header{
      width: 1060px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
  }
  .navigation{
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .navigation-logo{
      margin-right: 30px;
      z-index: 2;
  }
  .navigation-list{
      display: flex;
      margin: 0;
      padding:0 17px;
      width: 500px;
      align-items: center;
      flex-wrap: wrap;
  }
  .navigation-item{
      margin-right: 34px;
  }
  .navigation-item:last-child{
      margin-right: 0;
  }
  .navigation-link{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
    text-align:center;
    padding: 17px 0;
    border-bottom: 2px solid transparent;
    z-index: 1;
  }
  .navigation-link:hover{
    color: #756257;
  }
  .navigation-link:active{
      color: rgba(117, 98, 87, 0.3);
  }
  .navigation-link-current{
    border-bottom: 2px solid #756257;
    z-index: 1;
  }
  .user-list{
      display: flex;
      justify-content: end;
      align-items: center;
      flex-wrap: wrap;
      width: 300px;
      margin: 0;
      padding: 0;
  }
  .main-index{
      margin-top: -5px;
  }
  .main-inner{
      margin-top: -5px;
  }
  .navigation-icon{
      fill: #000;
  }
  .user-item{
    position: relative;
    min-width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-item:nth-child(2)::before{
    content: "12";
    position: absolute;
    top: calc(50% - 13px/2 - 9px);
    left: calc(50% - 19.05px/2 + 13px);
    background-color:#7DB54F;  
    color: #fff;
    font-size: 10px;
    line-height: 13px;
    border-radius: 10px;
    letter-spacing: -0.1em;
    text-align: center;
    padding: 3px 5px;
    border: none;
}
  .user-item:hover .navigation-icon{
      fill:#756257;
  }
  .user-item:active .navigation-icon{
     fill:#756257;
     opacity: 0.3;
  }
  .user-item:active::before{
      color: rgba(255, 255, 255, 0.3);
  }
  .user-item:last-child{
      margin-left: 20px;
  }
  .page-header li{
      list-style: none;
  }
  .button-login{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    border-radius: 4px;
    padding: 9px 0 8px 0;
    text-align: center;
  }
  .button-login:hover{
      background-color:#615048;
  }
  .button-login:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .button-login:focus{
    background-color: #615048;
    outline: 3px solid #83B3D3;
  }
  .page-container{
    width: 1200px;
    margin: 0 auto;
  }
  .promo{
    background-image: url("../images/index-bgr.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fff;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 80px;
  }
  .logo{
    display: block;
    margin: 0 auto 145px auto;
  }
.promo-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 31px;
    width: 720px;
}
.promo-description{
    font-size: 22px;
    line-height: 36px;
    width: 720px;
    margin: 0 auto;
}
.advantages-item{
    list-style: none;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.advantages-list{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.advantages-item:nth-child(2),
.advantages-item:nth-child(6){
    flex-grow: 1;
    width: 800px;
}
.advantages-item:nth-child(1),
.advantages-item:nth-child(7){
    background-color: #83B3D3;
    color: #fff;
    padding-top: 97px;
    padding-bottom: 87px;
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(5),
.advantages-item:nth-child(8),
.advantages-item:nth-child(10){
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(9){
   background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5){
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    padding-bottom: 89px;
}
.advantages-item:nth-child(8),
.advantages-item:nth-child(9),
.advantages-item:nth-child(10){
    padding-top: 98px;
    padding-bottom: 108px;
    margin-top: -1px;
}
.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}
.advantages-title-secondary{
    margin-top: 23px;
    margin-bottom: 20px;
}
.advantages-item-number{
    margin-top: 30px;
    margin-bottom: 30px;
}
.advantages-description{
    width: 250px;
    margin:0;
}
.search{
    text-align: center;
    padding-top: 91px;
    padding-bottom: 93px;
}
.search-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 29px;
}
.search-description{
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    margin: 0 auto;
    margin-bottom: 56px;
}
.button-search{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    width: 575px;
    margin: 0 auto;
    padding: 15px 158px;
    border-radius: 10px;
    box-sizing: border-box;
}
.button-search:hover{
    background-color: #615048;
}
.button-search:focus{
    background-color: #615048;
    outline: 3px solid #83B3D3;
}
.button-search:active{
    color: rgba(255, 255, 255, 0.3);
}
.subscribe{
    background-image: url("../images/subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding: 94px 0;
}
.subscribe-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
}
.subscribe-description{
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    margin: 0;
    margin-bottom: 46px;
}
.subscribe-form{
    width: 800px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
}
.subscribe-input{
    width: 600px;
    padding:17px 22px 17px 19px;
    font-size: 18px;
    font: inherit;
    line-height: 26px;
    color: rgba(0,0,0,0.6);
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    outline: none;
    border:none;
}
.subscribe-input:hover{
    background-color: #E6E6E6;
}
.subscribe-input:focus{
    outline:  3px solid #83B3D3;
    outline-offset: -3px;
}
.subscribe-input:invalid{
    outline: 3px solid #FF5757;
    outline-offset: -3px;
}
.button-subscribe{
    background-color: #83B3D3;
    padding: 0;
    width: 200px;
    border-radius: 0 10px 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    outline: none;
}
.button-subscribe:hover{
    background-color: #68A2CA;
}
.button-subscribe:focus{
    background-color: #68A2CA;
    outline: 3px solid #756257;
    outline-offset: -3px;
}
.button-subscribe:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}
.page-footer{
    padding: 0;
    padding-top: 35px;
    padding-bottom: 40px;
}
.page-footer-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social{
    margin-left: 62px;
}
.footer-social li{
    list-style: none;
}
.footer-tel-link{
    font-size: 40px;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    padding: 15px;
}
.footer-tel-link:hover{
    color: #756257;
}
.footer-tel-link:focus{
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}
.footer-tel-link:active{
    color: rgba(117, 98, 87, 0.3);
}
.footer-social-list{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
.footer-social-icon{
    fill: #83B3D3;
}
.footer-social-link:hover .footer-social-icon{
    fill:#68A2CA;
}
.footer-social-link:focus{
    outline: 3px solid #83B3D3;
   
}
.footer-social-link:active .footer-social-icon{
    opacity: 0.3;
}
.footer-social-item{
    padding: 0;
    margin: 0;
    margin-right: 4px;
}
.footer-social-item:last-child{
    margin-right: 0;
}
.footer-about{
    margin-right: 37px;
    width: 160px;
    box-sizing: border-box;
}
.footer-tel{
    margin-right: 22px;
}
.htmlacademy-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 135px;
    height: 54px;
    border-radius: 10px;
    box-sizing: border-box;
}
.about-icon{
    fill: #000;
}
.footer-about:hover .about-icon{
    fill: #756257;
}
.htmlacademy-link:focus{
    outline: 3px solid #83B3D3;
}
.htmlacademy-link:active .about-icon{
    fill: rgba(117, 98, 87, 0.3);
}
.inner-container{
    width: 1056px;
    margin: 0 auto;
}
.filter{
    background-image: url("../images/catalog-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 40px 71px 70px 71px;
    margin-bottom: 44px;
    box-sizing: border-box;
}
.filter-catalog{
    display: flex;
}
.filter-catalog-group{
    margin: 0;
    padding: 0;
    border: none;
    width: 160px;
    margin-right: 67px;
}
.filter-catalog-group:nth-child(2){
    margin-right: 167px;
}
.filter-catalog-list{
    padding: 0;
    margin: 0;
}
.filter-title{
    padding: 0;
    font-weight: bold;
    font-size: 60px;
    line-height: 68px;
    margin: 0;
}
.filter-catalog-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}
.filter-catalog li {
    list-style: none;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 13px;
}
.filter-price-group{
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 81px;
}
.filter-price-title{
    margin-bottom: 40px;
}
.control{
    position: relative;
    display: block;
    padding-left: 36px;
}
.control:hover .control-mark{
    background-color: rgba(255, 255, 255, 0.6);
}
.control:focus .control-mark{
    background-color: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}
.control:active .control-mark{
    background-color: rgba(255, 255, 255, 0.3);
}
.control-mark{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    top: 0px;
    left: 0px;
}
.control-mark-radio{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 0px;
    left: 0px;
}
.control-input[type="checkbox"]:checked + .control-mark{
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.control-input[type="radio"]:checked +.control-mark-radio{
    background-image: url(../images/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.price-input-container{
    display: flex;
    margin-bottom: 20px;
}
.price-input{
    width: 143px;
    padding: 14px 40px 11px 19px;
    font-size: 18px;
    line-height: 23px;
    background-color: transparent;
    outline: 2px solid #FFF;
    box-sizing: border-box;
    color: #fff;
    border: none;
    appearance: textfield;
}
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}
.price-input:hover{
    outline: 2px solid  rgba(255, 255, 255, 0.6);
}
.price-input:focus{
    box-shadow: 0px 0px 0px 3px #81B3D2, inset 0px 0px 0px 3px #81B3D2;
}
.price-input:active{
    outline: 2px solid #FFF;
    background-color: #756257;
}
.price-input-left{
    border-radius: 4px 0 0 4px;
}
.price{
    position: relative;
}
.price::after{
    content: 'от';
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 23px;
    position: absolute;
    left: 107px;
    top: 12px;
}
.price:nth-child(2)::after{
    content: 'до';
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 23px;
    position: absolute;
    left: 107px;
    top: 12px;
}
.price-input-right{
    width: 144px;
    border-radius: 0 4px 4px 0;
}
.range-scale{
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}
.range-bar{
    position: absolute;
    height: 4px;
    background-color: #fff;
}
.range-toggle{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.range-toggle:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus{
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:active{
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}
.toggle-min{
    top: -8px;
    left: -10px;
}
.toggle-max{
    top: -8px;
    right: -10px;
}
.filter-buttons-container{
    display: flex;
    flex-direction: column;
    padding-top: 62px;
}
.button-apply{
    width: 160px;
    background-color: #83B3D3;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 48px;
    text-transform: uppercase;
}
.button-apply:hover{
    background-color: #68A2CA;
}
.button-apply:focus{
    background-color: #68A2CA;
    outline: 3px solid #FFFFFF;
}
.button-apply:active{
    background-color: #68A2CA;
    color:rgba(255, 255, 255, 0.3);
}
.button-reset{
    width: 160px;
    background-color: transparent;
    font-size: 18px;
    line-height: 23px
}
.button-reset:hover{
    color:rgba(255, 255, 255, 0.6);
}
.button-reset:focus{
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.button-reset:active{
    outline: none;
    color:rgba(255, 255, 255, 0.3);
}
.sorting{
    width: 1056px;
    margin: 0 auto;
    margin-bottom: 53px;
    display: flex;
    align-items: center;
}
.sorting-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin-right: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sorting-quantity{
    margin-right: 192px;
}
.select-control{
    font-size: 18px;
    line-height: 23px;
    width: 287px;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 13px;
    border: none;
    outline: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(../images/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: textfield;
}
.select-control::-webkit-outer-spin-button,
.select-control::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}
.select-control:hover{
    border-color: #83B3D3;
}
.select-control:focus{
    border-color: #83B3D3;
}
.select-control:active{
    border-color:#E6E6E6;
}
.breadcrumbs-list{
    display: flex;
    width: 151px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    margin-left: -8px;
}
.breadcrumbs-item{
    list-style: none;
    margin: 0;
    margin-right: 10px;
}
.breadcrumbs-item:nth-child(1){
    margin-right: 2px;
}
.breadcrumbs-arrow{
    opacity: 0.3;
}
.breadcrumbs-item:last-child{
    margin-right: 0;
}
.breadcrumbs-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.breadcrumbs-icon{
    fill: #fff;
    padding:6px 8px 8px 8px;
}

.breadcrumbs-link:hover .breadcrumbs-icon{
    fill-opacity: 0.6;
}
.breadcrumbs-link:focus .breadcrumbs-icon{
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.container-card-toggle{
    width: 160px;
    display: flex;
    align-items: center;

}
.button-card-toggle{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    outline: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 17px 16px;
}
.button-card-toggle:last-child{
    margin-right: 0;
}
.button-card-toggle:hover{
    outline: 2px solid #83B3D3;
}
.button-card-toggle:focus{
    outline: 2px solid #83B3D3;
}
.button-card-toggle:active{
    outline: 2px solid #000;
}
.button-card-toggle-current{
    outline: 2px solid #000;
}
.button-card-toggle:last-child(){
    margin-right: 0;
}
.card-toggle-image{
    padding: 0;
    margin: 0;
}
.products{
    padding-bottom: 29px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}
.product-card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 16px 0;
}
.product-card-image{
    display: block;
    margin: 0;
    padding: 0;
    object-fit:contain;
}
.product-card-image:hover{
    opacity: 0.6;
}
.product-card-image:focus{
    outline: 3px solid #83B3D3;
}
.product-card-image:active{
    opacity: 0.3;
}
.product-card-text{
    display: flex;
    margin-bottom: 16px;
    line-height: 23px;
}
.product-card-description{
    margin-right: 79px;
}
.product-card-btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.product-card{
    list-style: none;
    width: 340px;
    margin-right: 18px;
    margin-bottom: 10px;
    padding:20px;
    box-sizing: border-box;
}
.product-card:nth-child(3n){
    margin-right: 0;
}
.product-card-link{
    padding: 0;
    text-decoration: none;
    color: #000;
}
.product-card-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.raiting-stars{
    height: 17px;
    background-image:url(../images/star.svg);
    background-repeat: repeat-x;
    background-size: 25px 17px;
    background-position:left;
}
.raiting-stars-four{
    width: 93px;
}
.raiting-stars-three{
    width: 68px;
}
.raiting-stars-two{
    width: 43px;
}
.product-button{
    padding: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}
.button-detailed{
    width: 133px;
    background-color: #756257;
    color:#fff;
    font-weight: 700;
}
.button-detailed:hover{
    background-color: #615048;
}
.button-detailed:focus{
    outline: 3px solid #83B3D3;
    background-color: #615048;
}
.button-detailed:active{
    color: rgba(255, 255, 255, 0.3);
}
.button-favorite{
    width: 141px;
    background-color: #83B3D3;
    color:#fff;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}
.button-favorite:hover{
    background-color: #68A2CA;
}
.button-favorite:focus{
    outline: 3px solid #756257;
    background-color: #68A2CA;
}
.button-favorite:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
}
.button-favorite-add{
    background-color: #7DB54F;
}
.button-favorite-add:hover{
    background-color: #6C9E42;
}
.product-rating-text{
    width: 160px;
    background-color: #F2F2F2;
    
}
.products-more-container{
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
    padding: 30px 0;
}
.button-show-more{
    display: block;
    margin:0 auto;
    width: 620px;
    background-color:#83B3D3;
    border-radius: 4px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 17px 0;
}
.button-show-more:hover{
    background-color: #68A2CA;
}
.button-show-more:focus{
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.button-show-more:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}
.pagination{
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
    align-items: center;
}
.pagination-list{
    margin: 0;
    padding: 0;
    width: 433px;
    display: flex;
}
.pagination-item{
    list-style: none;
    margin: 0;
    margin-right: 8px;
    font-size: 20px;
    line-height: 26px;
}
.pagination-item:last-child{
    margin-right: 0;
}
.pagination-item-quantity{
    width: 386px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #83B3D3;
    border-radius: 4px;
    color: #fff;
    width: 55px;
    height: 55px;
}
.pagination-link:hover{
    background-color: #68A2CA;
    color: #fff;
}
.pagination-link:focus{
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.pagination-link:active{
    color: rgba(255, 255, 255, 0.3);
}
.pagination-current{
    background-color: #F2F2F2;
    color: #000;
}
.pagination-quantity-control{
    width: 160px;
    padding: 13px 0 12px 17px;
    font-size: 18px;
    line-height: 23px;
    background-color: #fff;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    appearance: none;
    background-image: url(../images/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: right 19px center;
}
.pagination-quantity-control:hover{
    border-color: #83B3D3;
}
.pagination-quantity-control:focus{
    border-color: #83B3D3;
}
.pagination-quantity-control:active{
    border-color:#E6E6E6;
}
.subscribe-catalog{
    text-align: center;
    margin-bottom: 141px;
}
.subscribe-catalog-title{
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 46px;
}
.subscribe-catalog-description{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin: 0;
    margin-bottom: 46px;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(242, 242, 242, 0.8);
}
.modal{
    position: relative;
    margin: auto;
    background-color: #fff;
    padding: 62px 70px 70px 70px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 715px;
    box-sizing: border-box;
    z-index: 2;
}
.modal-title{
    margin: 0;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    padding-bottom: 37px;
    margin-bottom: 32px;
    margin-top: 8px;
}
.modal-close-button{
    position: absolute;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    padding: 0;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.modal-close-button:hover{
    background-color: #E6E6E6;
}
.modal-close-button:focus{
    border: 3px solid #83B3D3;
    background-color: #E6E6E6;
}
.modal-close-picture{
    fill: #000;
}
.modal-close-button:active{
    background-color: #E6E6E6;
}
.modal-close-button:active .modal-close-picture{
    fill: rgba(0, 0, 0, 0.3);
}
.field-group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
}
.field-group:nth-child(1)::after{
    content: 'Мы не можем отправить вас в прошлое.';
    color: #FF5757;
    font-size: 16px;
    line-height: 29px;
    position: absolute;
    top: 50px;
    left: 155px;
}
.field-group:nth-child(2)::after{
    content: 'На эти даты есть свободные номера. Пока есть.';
    color: #333333;
    font-size: 16px;
    line-height: 29px;
    position: absolute;
    top: 50px;
    left: 155px;
}
.field-group-item{
    font-weight: 700;
}
.field-group-peoples{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.field-group-adults{
    display: inline-block;
    width: 155px;
    font-weight: 700;
}
.field-group-childrens{
    display: inline-block;
    width: 50px;
    font-weight: 700;
    margin: 0px 53px;
}
.field-group-tooltip{
    position: relative;
}
.field{
    appearance: none;
    border: none;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    padding: 13px 19px;
    box-sizing: border-box;
}
.field:hover{
    background-color: #E6E6E6;
}
.field:focus{
    outline:  3px solid #83B3D3;
    outline-offset: -3px;
}
.field:invalid{
    outline: 3px solid #FF5757;
    outline-offset: -3px;
}
.field-peoples{
    width: 133px;
    padding: 13px 0px;
    text-align: center;
}
.search-form-field{
    width: 420px;
    background-image: url(../images/Groupdate.svg);
    background-repeat: no-repeat;
    background-position: right 19px center;
}
.search-form-field::placeholder{
    color: rgba(0, 0, 0, 0.6);
}
.search-form-button{
    display: flex;
    background-color: #83B3D3;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 575px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    font-family: "PT Sans", sans-serif;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.search-form-button:hover{
    background-color: #68A2CA;
}
.search-form-button:focus{
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.search-form-button:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}
/*
.modal-container-close{
    display: none;
} */
/*
.tooltip-close{
    display:none;
} */
.tooltip {
    position: absolute;
    top: 0;
    left: 100px;
  }

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(../images/info.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.tooltip-toggle:hover,
.tooltip-toggle:focus{
    background-color: #68A2CA;
    outline: none;
}
.tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    display: block;
    width: 256px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 12px;
    transform: translateX(-50%);
    z-index: 5;
    display: none;
  }
  .tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.tooltip-text:after {
    content:'';
    background-image: url("../images/Vectortriangle.svg");
    width: 19px;
    height: 9px;
    position:absolute;
    top: -9px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
  }
  .peoples-quantity-container{
     position: relative;
  }
  .people-quantity-btn{
      margin: 0;
      padding: 0;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .people-quantity-minus{
      position: absolute;
      top: 12px;
      left: 13px;
  }
  .people-quantity-plus{
    position: absolute;
    top: 12px;
    right: 13px;
}
.quantity-toggle{
    fill: rgba(0, 0, 0, 0.3);
}
.people-quantity-btn:hover .quantity-toggle{
    fill: rgba(0, 0, 0, 1);
}
.people-quantity-btn:focus{
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}
.people-quantity-btn:focus .quantity-toggle{
    fill: rgba(0, 0, 0, 1);
}
.people-quantity-btn:active .quantity-toggle{
    fill: rgba(0, 0, 0, 0.2);
}