@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }  
  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color:#333;
  }
  .button{
      color: #fff;
      background-color: #756257;
      border:none;
      text-decoration: none;
  }
  .page-header li{
      list-style: none;
  }
  .navigation-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
    text-align:center;
  }
  .promo{
    background-image: url("../images/index-bgr.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fff;
    text-align: center;
  }
.promo-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000;
}
.promo-description{
    font-size: 22px;
    line-height: 36px;
}
.advantages li{
    list-style: none;
}
.advantages-list{
    text-align: center;
}
.advantages-item:nth-child(1),
.advantages-item:nth-child(7){
    background-color: #83B3D3;
    color: #fff;
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(5),
.advantages-item:nth-child(8),
.advantages-item:nth-child(10){
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(9){
   background-color: rgba(131, 179, 211, 0.2); 
}

.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.search{
    text-align: center;
}
.search-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #000;
}
.search-description{
    font-size: 22px;
    line-height: 26px;
}
.subscribe{
    background-image: url("../images/subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}
.subscribe-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #fff;
}
.subscribe-description{
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}
.footer-social li{
    list-style: none;
}
.footer-tel-text{
    font-size: 40px;
    line-height: 40px;
    color: #000;
}
.footer-tel-link{
    text-decoration: none;
}